<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <!-- Link para o CSS específico para a página de configurações -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">Editor de Vídeo</div>
            <a class="github-link" href="#">GitHub</a>
        </div>
    </nav>
    
    <div class="container">
        <h2>Configurações</h2>
        <form action="/save_config" method="POST">
            {% for key_1, value in config.items() %}
                <h3>{{ key_1 | replace('_', ' ') | title }}</h3>
                {% if isinstance(value, dict) %}    
                    {% for key_2, value in value.items() %}
                        <label>{{ key_2 | replace('_', ' ') | title }}:</label>
                        {% if key_2.endswith('color') %}
                            <input type="color" name="config.{{ key_1 }}.{{ key_2 }}" value="{{ value }}">
                        {% elif key_2.endswith('path') %}
                            <input type="text" name="config.{{ key_1 }}.{{ key_2 }}" value="{{ value }}">
                        {% elif isinstance(value, bool) %}
                            <input type="checkbox" name="config.{{ key_1 }}.{{ key_2 }}" value="{{ value }}" {% if value %}checked{% endif %}>
                        {% elif isinstance(value, int) %}
                            <input type="number" name="config.{{ key_1 }}.{{ key_2 }}" value="{{ value }}">
                        {% elif isinstance(value, float) %}
                            <input type="number" step="0.01" name="config.{{ key_1 }}.{{ key_2 }}" value="{{ value }}">
                        {% else %}
                            <input type="text" name="config.{{ key_1 }}.{{ key_2 }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <label>{{ key_1 | replace('_', ' ') | title }}:</label>
                    {% if key_1.endswith('color') %}
                        <input type="color" name="config.{{ key_1 }}" value="{{ value }}">
                    {% elif key_1.endswith('path') %}
                        <input type="text" name="config.{{ key_1 }}" value="{{ value }}">
                    {% elif isinstance(value, int) %}
                        <input type="number" name="config.{{ key_1 }}" value="{{ value }}">
                    {% elif isinstance(value, float) %}
                        <input type="number" step="0.01" name="config.{{ key_1 }}" value="{{ value }}">
                    {% elif isinstance(value, bool) %}
                        <input type="checkbox" name="config.{{ key_1 }}" {% if value %}checked{% endif %}>
                    {% else %}
                        <input type="text" name="config.{{ key_1 }}" value="{{ value }}">
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button type="submit">Salvar Configuração</button>
        </form>
    </div>
</body>
</html>
