<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reddit Histórias em Vídeo</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="{{ url_for('static', filename='js/confirm_deletion.js') }}"></script>
</head>

<body>
    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-content">
                    <h2>Transforme histórias do Reddit em vídeos incríveis</h2>
                    <p>Cole o link de uma história do Reddit abaixo e crie um vídeo automaticamente</p>

                    <form action="/srcap_reddit_post" method="POST" class="story-form">
                        <input name="url" type="url" placeholder="Cole o URL da história do Reddit aqui..." required>
                        <button type="submit">Criar Vídeo</button>
                    </form>
                </div>
            </div>
        </section>

        <div class="container">
            {% for reddit_history in reddit_histories %}
            <div class="reddit-history-card">
                {% if static_path(reddit_history.cover_path) %}
                <img width="320" src="{{ static_path(reddit_history.cover_path) }}" alt="Cover Image"
                    class="cover-image">
                {% else %}
                <h3>{{ reddit_history.history.title }}</h3>
                {% endif %}
                <div>
                    {% if bars_info.get(reddit_history.id) %}
                        <progress id="{{ reddit_history.id }}"></progress>
                    {% endif %}
                    {% if static_path(reddit_history.speech_path) %}
                    <div class="audio-player">
                        <audio controls>
                            <source src="{{ static_path(reddit_history.speech_path) }}" type="audio/mpeg">
                            Seu navegador não suporta o elemento de áudio.
                        </audio>
                    </div>
                    {% endif %}

                    <button onclick="location.href='/history/{{ reddit_history.id }}'">Ver história</button>

                    <form action="/history/delete/{{ reddit_history.id }}" method="POST" onsubmit="confirmDeletion(event, this)">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Deletar história</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>

</html>