/* config_styles.css */

/* Reset de alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão e estilo do body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilo da navegação */
nav {
    background-color: #333;
    padding: 10px 0;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav .logo {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
nav .github-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

/* Estilo do container principal */
.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
}
form h3 {
    margin: 20px 0 10px;
    font-size: 20px;
    color: #555;
}
form label {
    margin-top: 10px;
    font-weight: bold;
}
form input[type="text"],
form input[type="number"],
form input[type="color"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #ff6347;
}

/* Estilo para o rodapé, se necessário */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
