* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.w200 {
    width: 200px;
}

.g10 {
    gap: 10px;
}

.p10 {
    padding: 10px;
}

body {
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: row;

}

.left-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: fill;
    gap: 10px;
}

.vertical-divider {
    height: '100%';
    width: 5px;
    background-color: #CAC4D0;
    margin-left: 10px;
    right: 410px;
    margin-right: 400px;
}

.right-container {
    position: fixed;
    right: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.input-container {
    gap: 8;
    font-family: 'Inter'
}

label {
    font-family: 'Inter';
    color: #1E1E1E;
    font-size: 16;
}

input[type="text"] {
    font-family: 'Inter';
    color: #1E1E1E;
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type="number"] {
    font-family: 'Inter';
    color: #1E1E1E;
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
}

input[type="checkbox"] {
    accent-color: #2C2C2C;
    width: 15px;
    height: 15px;
}

select {
    border-color: #D9D9D9;
    background-color: #FFFFFF;
    color: #1E1E1E;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    width: 200px;
}

textarea {
    font-family: 'Inter';
    color: #1E1E1E;
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;
    field-sizing: content;
    width: 100%;
}

.buttons-container {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.delete-button button {
    font-family: 'Inter';
    font-size: 14px;
    border-radius: 8px;
    padding: 12px;
    background-color: #EC221F;
    border-color: #900B09;
    border-width: 1px;
    color: #FEE9E7;
    border: none;
}

.delete-button button:hover {
    background-color: #1E1E1E;
}

.primary-button button {
    font-family: 'Inter';
    font-size: 14px;
    border-radius: 8px;
    padding: 12px;
    background-color: #2C2C2C;
    border-color: #2C2C2C;
    border-width: 1px;
    color: #F5F5F5;
    border: none;
}

.primary-button button:hover {
    background-color: #1E1E1E;
}

.download-button a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 14px;
    border-radius: 8px;
    padding: 12px;
    background-color: #E3E3E3;
    border-color: #767676;
    border-width: 1px;
    color: #1E1E1E;
}

.download-button a:hover {
    background-color: #CDCDCD;
}

progress[value] {
    position: fixed;
    bottom: 10px;
    right: 5%;
    border-radius: 7px;
    width: 90%;
    height: 15px;
}

progress[value]::-webkit-progress-bar {
    background-color: #DADADA;
    border-radius: 7px;
    border-width: 1px;
    border-color: #767676;
}

progress[value]::-webkit-progress-value {
    background-color: #007AFF;
    border-radius: 7px;
}

.subtitle-title {
    font-family: 'Inter';
    color: #1E1E1E;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.horizontal-divider {
    height: 1px;
    width: '100%';
    background-color: #CAC4D0;
    margin-top: 10px;
}

.subtitle-container {
    display: flex;
    flex-direction: column;
}

.subtitle-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}